<!--
	=====================================================
		Footer
	=====================================================
	-->
<footer class="theme-footer">
	<div class="container">
		<div class="logo"><a href="/"><img style="height: 180px;" src="__STATIC__/index/default.png" alt="Alethea"></a></div>
		<p class="footer-text">Blog and Portfolio Theme</p>
		<ul class="social-icon">
			<li class="icon"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
			<li class="icon"><a href="#"><i class="fab fa-twitter"></i></a></li>
			<li class="icon"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
			<li class="icon"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
		</ul>
		<p class="copyright">Copyright &copy; 2018.Company name All rights reserved.</p>
	</div> <!-- /.container -->
</footer> <!-- /.theme-footer -->




<!-- Scroll Top Button -->
<button class="scroll-top tran3s">
	<i class="fa fa-angle-up" aria-hidden="true"></i>
</button>