<!-- Main style sheet -->
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css">
<!-- responsive style sheet -->
<link rel="stylesheet" type="text/css" href="__STATIC__/index/css/responsive.css">
<!-- Theme-Color css -->
<link rel="stylesheet" id="jssDefault" href="__STATIC__/index/css/color.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

<!-- Fix Internet Explorer ______________________________________-->

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<script src="__STATIC__/index/vendor/html5shiv.js"></script>
<script src="__STATIC__/index/vendor/respond.js"></script>
<![endif]-->