<header class="theme-main-header">
	<div class="container">
		<div class="content-holder clearfix">
			<div class="logo"><a href="/">
				<img style="margin-left: 418px;" src="__STATIC__/index/al.png" alt="Alethea">
			</a></div>
			<!-- ============== Menu Warpper ================ -->
			<div class="menu-wrapper">
				<nav id="mega-menu-holder" class="clearfix">
					<ul class="clearfix">
						<li><a href="/">Home</a></li>
						<li><a href="{:url('project/index')}">Project</a></li>
						<li><a href="{:url('index/aboutMe')}">About me</a></li>
						<!--<li><a href="{:url('index/contactMe')}">contact me</a></li>-->
					</ul>
				</nav> <!-- /#mega-menu-holder -->
			</div> <!-- /.menu-wrapper -->
		</div> <!-- /.content-holder -->
	</div> <!-- /.container -->
</header> <!-- /.theme-main-header -->