<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c2c2c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c2c2c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

<title>About</title>

	{include file='public/header_css' /}

	
</head>

<body>

<div class="main-page-wrapper">
	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>


	<!-- ==================== Style Switcher ==================== -->
	<div class="switcher">
		<!-- Switcher button -->
		<div class="switch-btn">
			<button><i class="fas fa-cog fa-spin"></i></button>
		</div>

		<!-- switcher body -->
		<div class="switch-menu">
			<h5 class="title">Style Switcher</h5>						
			<!-- Theme color changer -->
			<div class="switcher-container">
				<h5>Color Skins</h5>
				<ul id="styleOptions" title="Switch Color" class="clearfix">
					<li><a href="javascript: void(0)" data-theme="color" class="color1"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-2" class="color2"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-3" class="color3"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-4" class="color4"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-5" class="color5"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-6" class="color6"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-7" class="color7"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-8" class="color8"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-9" class="color9"></a></li>
					<li><a href="javascript: void(0)" data-theme="color-10" class="color10"></a></li>
				</ul>
				<h5>Theme Demo</h5>
				<ul class="theme-demo clearfix">
					<li>
						<div class="img-box"><a href="sotto/"><img src="__STATIC__/index/images/home/light.jpg" alt=""></a></div>
						<h6>Light layout</h6>
					</li>
					<li>
						<div class="img-box"><a href="sotto-dark/"><img src="__STATIC__/index/images/home/dark.jpg" alt=""></a></div>
						<h6>Dark layout</h6>
					</li>
				</ul>
			</div>
		</div> <!-- /switch-menu -->
	</div> <!-- /.switcher -->

	<!-- ===================================================
		About Me Wrapper
	==================================================== -->
	<div class="about-me-wrapper">
		<div class="back-to-home"><a href="index.html"><i class="flaticon-left-arrow"></i> Back to home</a></div>
		<div class="main-text-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xl-7 col-lg-8 col-12">
						<h2>Alethea Zhao</h2>
						<h3>Artist,Blogger,Teacher</h3>
						<p>Name：Alethea Zhao<br />
						Sex：Female<br />
						Email：
						2936347152@qq.com<br />
						School：Southwest University
						of Science and Techlonogy<br />
						</p>
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest"></i></a></li>
							<li><a href="#"><i class="fab fa-dribbble"></i></a></li>
							<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							<li><a href="#"><i class="fab fa-behance"></i></a></li>
							<li><a href="contact.html"><i class="fas fa-at"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- /.about-me-wrapper -->




<!-- Optional JavaScript _____________________________  -->

	{include file='public/footer_js' /}
</div> <!-- /.main-page-wrapper -->
</body>
</html>
