<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<!-- For IE -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- For Resposive Device -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- For Window Tab Color -->
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#2c2c2c">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#2c2c2c">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#2c2c2c">

<meta type="keywords" content="{$system.keywords}">
<meta type="description" content="{$system.desc}">

<title>{$system.title}</title>

{include file='public/header_css' /}

</head>

<body>
<div class="search-box" id="searchWrapper">
	<div id="close-button"></div>
	<div class="container">
		<form action="#">
			<div class="greeting-text"><span class="greeting"></span></div>
			<div class="input-wrapper">
				<input type="text" placeholder="type your keyword" autofocus>
			</div>
		</form>
	</div>
</div> <!-- /.search-box -->


<div class="main-page-wrapper" style="margin-top: -42px;">
	<!-- ===================================================
		Loading Transition
	==================================================== -->
	<div id="loader-wrapper">
		<div id="loader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>


	<!-- ==================== Style Switcher ==================== -->
	<!--<div class="switcher">-->
		<!--&lt;!&ndash; Switcher button &ndash;&gt;-->
		<!--<div class="switch-btn">-->
			<!--<button><i class="fas fa-cog fa-spin"></i></button>-->
		<!--</div>-->

		<!--&lt;!&ndash; switcher body &ndash;&gt;-->
		<!--<div class="switch-menu">-->
			<!--<h5 class="title">Style Switcher</h5>-->
			<!--&lt;!&ndash; Theme color changer &ndash;&gt;-->
			<!--<div class="switcher-container">-->
				<!--<h5>Color Skins</h5>-->
				<!--<ul id="styleOptions" title="Switch Color" class="clearfix">-->
					<!--<li><a href="javascript: void(0)" data-theme="color" class="color1"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-2" class="color2"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-3" class="color3"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-4" class="color4"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-5" class="color5"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-6" class="color6"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-7" class="color7"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-8" class="color8"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-9" class="color9"></a></li>-->
					<!--<li><a href="javascript: void(0)" data-theme="color-10" class="color10"></a></li>-->
				<!--</ul>-->
				<!--<h5>Theme Demo</h5>-->
				<!--<ul class="theme-demo clearfix">-->
					<!--<li>-->
						<!--<div class="img-box"><a href="sotto/"><img src="__STATIC__/index/images/home/light.jpg" alt=""></a></div>-->
						<!--<h6>Light layout</h6>-->
					<!--</li>-->
					<!--<li>-->
						<!--<div class="img-box"><a href="sotto-dark/"><img src="__STATIC__/index/images/home/dark.jpg" alt=""></a></div>-->
						<!--<h6>Dark layout</h6>-->
					<!--</li>-->
				<!--</ul>-->
			<!--</div>-->
		<!--</div> &lt;!&ndash; /switch-menu &ndash;&gt;-->
	<!--</div> &lt;!&ndash; /.switcher &ndash;&gt;-->

	{include file='public/header' /}

	<!--
	=============================================
		Theme Header
	============================================== 
	-->
	{include file='public/nav' /}
	<!--
	=============================================
		Theme Main Banner
	============================================== 
	-->
	<div class="theme-banner-section-one section-margin-bottom">
		<!-- MasterSlider -->
		<div id="P_masterslider" class="master-slider-parent ms-panorama ms-parent-id-30" >
			<!-- MasterSlider Main -->

			<div id="main-slider-one" class="master-slider ms-skin-default" >
				{volist name="banner" id="bannerss"}
				<div class="ms-slide" data-delay="25" data-fill-mode="fill" >
					<img class="ms-layer"
						 src="__STATIC__/index/images/blank.gif"
						 data-src="{$bannerss.pic}"
						 alt=""
						 style=""
						 data-effect="t(false,850,n,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="30200"
						 data-ease="linear"
						 data-parallax="6"
						 data-type="image"
						 data-offset-x="-519"
						 data-offset-y="-1"
						 data-origin="mc"
						 data-position="normal" />
					<div class="ms-layer main-heading"
						 style=""
						 data-effect="t(true,n,20,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="3000"
						 data-delay="400"
						 data-ease="easeOutQuint"
						 data-parallax="60"
						 data-offset-x="115"
						 data-offset-y="-95"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="auto">{$bannerss.title}
					</div>
					<div class="ms-layer author-layer"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="1500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="-33"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="666">{$bannerss.desc}
					</div>
					<div class="ms-layer main-text"
						 style=""
						 data-effect="t(true,n,50,n,n,n,n,n,n,n,n,n,n,n,n)"
						 data-duration="5000"
						 data-delay="2500"
						 data-ease="easeOutQuint"
						 data-parallax="120"
						 data-offset-x="120"
						 data-offset-y="35"
						 data-origin="ml"
						 data-position="normal"
						 data-masked="true"
						 data-mask-width="450">{$bannerss.content}
					</div>
					<!--<div class="ms-layer read-more"-->
						 <!--style=""-->
						 <!--data-effect="t(true,n,n,n,n,n,n,n,n,n,n,n,n,n,n)"-->
						 <!--data-duration="5000"-->
						 <!--data-delay="3500"-->
						 <!--data-ease="easeOutQuint"-->
						 <!--data-parallax="80"-->
						 <!--data-offset-x="120"-->
						 <!--data-offset-y="90"-->
						 <!--data-origin="ml"-->
						 <!--data-position="normal" ><a href="#">Read More</a>-->
					<!--</div>-->
				</div>
			{/volist}
			</div> <!-- /#main-slider-one -->

		</div>
	</div> <!-- /.theme-banner-section-one -->



	<!-- 
	=============================================
		Main Blog Post Wrapper
	============================================== 
	-->
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-12 blog-grid-style hover-effect-one">

				{volist name="blogs" id="blogss"}
				<div class="single-blog-post">
					<div class="image-box">{if $blogss.pic}<a href="{:url('index/post/index', ['id' => $blogss.id])}" target="_blank"><img src="{$blogss.pic}" alt="{$blogss.keywords}"></a>{/if}</div>
					<div class="post-meta-box bg-box">
						<ul class="author-meta clearfix">
							<li class="tag"><a style="background: #2da731;">Blog</a> </li><li class="tag"><a href="{:url('index/index/index', ['cateid' => $blogss.cate])}">{$blogss.catename}</a></li>
							<li class="date"><a>{$blogss.time|date="d M , Y",###}</a></li>
						</ul>
						<h4 class="title"><a href="{:url('index/post/index', ['id' => $blogss.id])}" target="_blank">{$blogss.title}</a></h4>
						<ul class="share-meta clearfix">
							<li><a><i class="icon flaticon-comment"></i>View ({$blogss.see})</a></li>
							<li><a href="{:url('index/post/index', ['id' => $recentss.id])}"><i class="icon flaticon-arrows"></i>More (+)</a></li>
						</ul>
						<p>{$blogss.desc}</p>
					</div> <!-- /.post-meta-box -->
				</div> <!-- /.single-blog-post -->
				{/volist}

				<div class="theme-pagination text-center">
					<ul class="clearfix">
						{$blogs->render()}
					</ul>
				</div> <!-- /.theme-pagination -->
			</div> <!-- /.col- -->
			
			<!-- ======================== Theme Sidebar =============================== -->
			<div class="col-lg-4 col-md-7 col-12 theme-main-sidebar">
				<div class="sidebar-box bg-box about-me">
					<h6 class="sidebar-title">About me</h6>
					<img src="__STATIC__/index/default.png" alt="">
					<p>Hi, I am Alethea Zhao...</p>
					<!--<div class="clearfix"><img src="__STATIC__/index/images/home/sign.png" alt="" class="signature float-right"></div>-->
				</div> <!-- /.about-me -->
				<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">Categories</h6>
					<ul>
						{volist name="cate" id="catess"}
							<li><a href={:url('index/index/index', ['cateid' => $catess.id])}>{$catess.catename}</a></li>
						{/volist}
					</ul>
				</div> <!-- /.sidebar-categories -->
				<div class="sidebar-box bg-box sidebar-trending-post">
					<h6 class="sidebar-title">Trending Post</h6>
					{volist name="now_post" id="now_postss"}
						<div class="single-trending-post clearfix">
							<img src="{$now_postss.pic|default='__STATIC__/index/default.png'}" alt="{$now_postss.desc}" class="float-left">
							<div class="post float-left">
								<h6><a href="{:url('index/post/index', ['id' => $now_postss.id])}">{$now_postss.title}</a></h6>
								<ul>
									<li class="tag">{$now_postss.catename}</li>
									<li class="date">{$now_postss.time|date="d M , Y",###}</li>
								</ul>
							</div> <!-- /.post -->
						</div> <!-- /.single-trending-post -->
					{/volist}
					</div> <!-- /.sidebar-trending-post -->

				<div class="sidebar-box bg-box sidebar-categories">
					<h6 class="sidebar-title">Archives By Author</h6>
					<ul>
						{volist name="archives" id="archss"}
							<li><a href="{:url('index/index/index', ['author' => $archss.author])}">{$archss.author}</a></li>
						{/volist}

					</ul>
				</div> <!-- /.sidebar-categories -->
				<div class="sidebar-box bg-box sidebar-tags">
					<h6 class="sidebar-title">Keyword</h6>
					<ul class="clearfix">
						{volist name="keywords" id="keywordss"}
							<li><a>{$keywordss}</a></li>
						{/volist}
					</ul>
				</div> <!-- /.sidebar-tags -->
				<div class="sidebar-box bg-box sidebar-newsletter">
					<h6 class="sidebar-title">link</h6>
						{volist name="links" id="linkss"}
						<a href="{$linkss.url}" target="_blank" style="margin-top: 20px;margin-right: 30px;"><button class="theme-button-one">{$linkss.name}</button></a>
						{/volist}
				</div> <!-- /.sidebar-newsletter -->
			</div> <!-- /.theme-main-sidebar -->
		</div> <!-- /.row -->
	</div> <!-- /.container -->

	{include file='public/footer' /}

<!-- Optional JavaScript _____________________________  -->

	{include file='public/footer_js' /}
</div> <!-- /.main-page-wrapper -->
</body>
</html>
